beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
espn-api
Flask
google-api-core
google-auth
google-cloud-bigquery
google-cloud-core
google-cloud-secret-manager
google-crc32c
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
packaging
proto-plus
protobuf
pyasn1
pyasn1-modules
python-dateutil
pytz
PyYAML
requests
rsa
six
soupsieve
urllib3
Werkzeug
zipp
